<div class="container">
    <h1>Regisztráció</h1>
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="mb-3">
        <label for="user" class="form-label">Név</label>
        <input type="text" class="form-control" id="user" aria-describedby="userHelp" formControlName="user">
      </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Jelszó</label>
      <input type="password" class="form-control" id="password" formControlName="pass">
    </div>
    <button type="submit" class="btn btn-info">Regisztráció</button>
  </form>
</div>